<p id="notice"><%= notice %></p>

<p>
  <strong>Target name:</strong>
  <%= @target.target_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @target.description %>
</p>

<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
